[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
mock = "*"
pytest = ">=3.5"
tox = "*"
twine = "*"
sphinx = "*"
coverage = "*"
pytest-cov = "*"
codecov = "*"

[dev-packages.e1839a8]
path = "."
editable = true

[packages.lakecli]
editable = true
path = "."

[packages.e1839a8]
path = "."
editable = true
