[requires]
python_version = "3.7"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lakecli = {editable = true, path = "."}
click = ">=4.1"
Pygments = ">=1.6"
prompt_toolkit = ">=1.0.10,<1.1.0"
sqlparse = ">=0.2.2,<0.3.0"
configobj = ">=5.0.5"
"cli_helpers[styles]" = ">=1.0.1"
botocore = ">=1.5.52"
boto3 = ">=1.4.4"
peewee = ">= 3.11.2"

[dev-packages]
mock = "*"
pytest = ">=3.5"
tox = "*"
twine = "*"
sphinx = "*"
coverage = "*"
pytest-cov = "*"
codecov = "*"
